<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>全文检索</title>
    <style type="text/css">
       .s_ipt{width:526px;height:22px;font:16px/18px arial;line-height:22px;margin:6px 0 0 7px;padding:0;background:gray;border:0;outline:0;-webkit-appearance:none;color: aqua}
       .s_btn{width:100px;height:36px;color:#fff;font-size:15px;letter-spacing:1px;background:#3385ff;border-bottom:1px solid #2d78f4;outline:medium;*border-bottom:0;-webkit-appearance:none;-webkit-border-radius:0}
    </style>
</head>
<body>
<form action="/search/" method="get" target="_blank">
    <input id="kw" name="q" class="s_ipt" value="" maxlength="255" autocomplete="off" type="text">
    <input type="submit" id="su" value="查询" class="bg s_btn">
</form>
</body>
</html>